@if(isLoading && pokemonList.length === 0){
    <div class="loading-indicator">
    Loading Pokemon details...
    </div>
}

@if(error){
    <div class="error-message">
    {{error}}
    </div>
}

@if(!isLoading && !error && pokemonList.length === 0){
    <div class="no-pokemon-found">
    No Pokemon found.
    </div>
}

@if(!isLoading && pokemonList){
  <h2>Pokemon List</h2>
  <ul>
    <li *ngFor="let pokemon of pokemonList">
      <a [routerLink]="['/pokemon', pokemon.name.toLowerCase()]" class="pokemon-link">
        <div class="pokemon-item">
          <img *ngIf="pokemon.imageUrl" [src]="pokemon.imageUrl" [alt]="pokemon.name" class="pokemon-image">
          <div *ngIf="!pokemon.imageUrl" class="no-image-placeholder">No Image</div>
          <span class="pokemon-name">{{ pokemon.name }}</span>
        </div>
      </a>
    </li>
  </ul>
}
